* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#header {
    margin: 0;
    padding: 0;
    background-color: #0e0e0e;
    color: aliceblue;
    position: sticky;
    top: 0px;
    height: 50px;
    width: 100%;

}

#hero {
    margin: 0px;
    color: #0e0e0e;
    height: 1000px;
    background-color: #f3f3f3;
}

#hero div {
    padding: 50px;
    color: #0e0e0e;
    height: 1000px;
}

div h1 {
    font-size: 72;
    font-weight: 400;
}

div p {
    font-size: 24;
    font-weight: 200;
}